.star-border-container {
  display: block;
  position: relative;
  border-radius: 20px;
  padding: 2px;
  background: hsl(var(--background));
}

.border-gradient-bottom {
  position: absolute;
  width: 150px;
  height: 150px;
  bottom: -75px;
  right: -100%;
  border-radius: 50%;
  filter: blur(20px);
  animation: star-movement-bottom 6s linear infinite;
  z-index: 0;
  pointer-events: none;
}

.border-gradient-top {
  position: absolute;
  width: 150px;
  height: 150px;
  top: -75px;
  left: -100%;
  border-radius: 50%;
  filter: blur(20px);
  animation: star-movement-top 6s linear infinite;
  z-index: 0;
  pointer-events: none;
}

.inner-content {
  position: relative;
  border: 1px solid hsl(var(--border));
  background: hsl(var(--background));
  border-radius: 18px;
  z-index: 1;
}

@keyframes star-movement-bottom {
  0% {
    right: -100%;
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    right: 100%;
    opacity: 0.8;
  }
}

@keyframes star-movement-top {
  0% {
    left: -100%;
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0.8;
  }
}
